<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063027273907-4s3njv84brh51tgbc6pu4vfnbt85fh2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063027273907-4s3njv84brh51tgbc6pu4vfnbt85fh2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063027273907-7tus114sr9eslegf0s1i2lk85urj928l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxuQq6fwJcXYdhRrQdT1Ix02U8xXCHQzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1063027273907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maximmovchan.smartaviaWeather</string>
	<key>PROJECT_ID</key>
	<string>airlogic-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>airlogic-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063027273907:ios:0ed86020a28dd47ac980c6</string>
</dict>
</plist>